html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
:root{
  --clr-neutral-white: hsl(0, 0%, 98%);
  --clr-neutral-gray: hsl(0, 0%, 41%);
  --clr-neutral-black: hsl(0, 0%, 8%);

  --fs-p: 18px;


  --fw-light: 500;
  --fw-heavy: 700;
}

body{
  font-family: 'Epilogue', sans-serif;
  font-weight: var(--fw-light);
  background-color: var(--clr-neutral-white);
  flex: 1;
}
.mobile{
  display: none;
}
.first-header{
  margin-top: 1.5em;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.second-header{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-left: 0;
  margin-right: 0;
}
.section-1{
  flex: 4;
  display: flex;
  align-items: flex-start;
  gap: 2em;
}
.section-2{
  flex: 1;
  display: flex;
  gap: 2em;
}
.div-logo{
  position: relative;
  margin-left: 50px;
}
.div-register{
  margin-right: 2.5em;
}

.arrow-1{
  position: relative;
}
.arrow-1 > img{
  position: absolute;
  top: 6px;
  right: -14px;
}
.arrow-2{
  position: relative;
}
.arrow-2 > img{
  position: absolute;
  top: 6px;
  right: -14px;

}

.header-list-1, .header-list-2{
  list-style: none;
  position: relative;
  padding-bottom: 40px;
}
.header-list-1:hover, .header-list-2:hover{
  position: relative;
  padding-bottom: 40px;
}
.div-header-list-1, .div-header-list-2{
  position: relative;
}
.header-list-1:hover  .list-1, .header-list-2:hover .list-2{
  visibility: visible;
}
.arrow-1 > img, .arrow-2 > img{
  cursor: pointer;
  transition: 0.5s;
}
.arrow-1, .arrow-2{
  cursor: pointer;
}
.header-list-1:hover .arrow-1>img, .header-list-2:hover .arrow-2>img, 
.header-list-1:focus .arrow-1>img, .header-list-2:focus .arrow-2>img,
.header-list-1:active .arrow-1>img, .header-list-2:active .arrow-2>img{
  transform: rotate(180deg);
}

.list-1, .list-2{
  cursor: pointer;
  background-color: var(--clr-neutral-white);
  border-radius: 8px;
  filter: drop-shadow(-0px 0px 5px);
  list-style: none;
  position: absolute;
  visibility: hidden;
  top: 35px;
  z-index: 10;
  transition: 0.2s;
}

.node{
  display: flex;
  margin-top: 15px ;
  margin-right: 10px;
  margin-left: 15px;
}
.list-1{
  padding-bottom: 15px;
  right: -10px;
}
.node img{
  margin-right: 10px;
}
.list-2{
  padding-bottom: 15px;
  padding-right: 25px
}
.list-2 > .node{
  width: 100%;
}
.login{
  border: none;
  margin-top: -0.4em;
  border: 1px solid white;
  color: var(--clr-neutral-black);
  border-radius: 10px;
  padding: 6px 16px;
  background-color: var(--clr-neutral-white); 
  transition: 0.4s;
}
.login:hover{
  margin-top: -0.4em;
  border: 1px solid white;
  color: var(--clr-neutral-white);
  border-radius: 10px;
  padding: 6px 16px;
  background-color: var(--clr-neutral-black);
}
.div-register{
  position: relative;
}
.register{
  margin-top: -0.5em;
  border: 1px solid white;
  color: var(--clr-neutral-white);
  border-radius: 10px;
  padding: 5px 15px;
  background-color: var(--clr-neutral-black);
  transition: 0.4s;
}
.register:hover{
  margin-top: -0.5em;
  color: var(--clr-neutral-black);
  border-radius: 10px;
  padding: 5px 15px;
  background-color: var(--clr-neutral-white);
}

.btn-head{
  cursor: pointer;
}
main{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5em;
}
.first-main-div{
  width: 100%;
  flex: 1;
  margin-left: 100px;
  margin-top: 120px;
}
.div-main-img{
  width: 100%;
  display: flex;
  justify-content: center;
  flex: 1;
}
.desktop{
  max-width: 400px;
}

h1{
  font-size: 70px;
  font-weight: var(--fw-heavy);
}

.btn-learn{
  border: none;
  background: var(--clr-neutral-black);
  width: 120px;
  height: 45px;
  border-radius: 10px;
  color: var(--clr-neutral-white);
  margin-top: 40px;
  font-weight: var(--fw-heavy);
  transition: 0.2s;
}
.btn-learn:hover{
  border: 1px solid var(--clr-neutral-black);
  background: var(--clr-neutral-white);
  color: var(--clr-neutral-black);
}
.base-logo{
  display: flex;
  margin-top: 90px;
}
.btn-open{
  display: none;
}

@media screen and (max-width: 800px) {
  *{
    margin: 0;
    padding: 0;
  }
    .section-1, .section-2{
      display: none;
    }  
    .btn-open{
      display: block;
      margin-right: 2em;
    }
    main{
      margin: 0;
      gap: 0;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }
  .first-main-div{
    margin-top: 10px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
  }
  .base-logo{
    margin: 20px auto;
  }
  h1{
    text-align: center;
    font-size: 40px;
  }
  .main-text{
    line-height: 1.5em;
    margin: 20px auto;
    width: 65%;
    font-size: 15px;
    text-align: justify;
  }
  .base-logo div>img{
    transform: scale(0.5);
    margin-right: 0.5em;
  }
  .base-logo{
    display: flex;
    align-items: center;
  }
  .div-main-img{
    margin-top: 0px;
  }
  .div-main-text{
    display: flex;
    flex-direction: column;
  }
  .btn-learn{
    margin: 20px auto;
  }
  .second-header > .section-1{
    border-radius: 10px;
    position: absolute;
    right: 0;
    width: 200px;
    padding-left: 30px;
    padding-right: 90px;
    padding-bottom: 20px;
    background-color: var(--clr-neutral-white);
    display: none;
    flex-direction: column;
    z-index: 3;
  }
  .second-header > .section-2{
    border-radius: 10px;
    position: absolute;
    right: 0;
    top: 270px;
    display: none;
    flex-direction: column;
    background-color: var(--clr-neutral-white);
    z-index: 3;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 110px;
    padding-top: 30px;
    width: 190px;
    height: 100px;
  }
  .list-1, .list-2{
    cursor: pointer;
    background-color: var(--clr-neutral-white);
    border-radius: 8px;
    filter: drop-shadow(-0px 0px 5px);
    list-style: none;
    position: absolute;
    visibility: hidden;
    top: 35px;
    z-index: 10;
    transition: 0.2s;
  }
}
